/* ==== */
/* Text */
/* ==== */

#resume p, #resume h4 {
  text-indent: 2rem;
}

/* ============= */
/* Progress Bars */
/* ============= */

#cpp {
  width: 10%;
}

#csharp {
  width: 35%;
}

#css {
  width: 85%;
}

#html {
  width: 94%;
}

#java {
  width: 80%;
}

#javascript {
  width: 70%;
}

#php {
  width: 10%;
}

#python {
  width: 50%;
}

@media only screen and (max-width: 991px) {
  .progress {
    margin-left: 3.5rem;
  }
}

.progress-bar {
  background-color: #ff3a3a;
  animation: expand 2s forwards 1;
  -moz-animation: expand 2s forwards 1;
  -webkit-animation: expand 2s forwards 1;
}

@keyframes expand {
  from {
    width: 0%;
  }
}