a:link, a:visited {
  color: #ff0000;
}

a:hover, a:active {
  color: #990000;
}

footer {
  background-color: #ff3a3a;
  padding-top: 28px;
  padding-bottom: 20px;
  margin-top: 20px;
}

footer p {
  font-weight: bold;
  padding-top: 7px;
}

footer .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  footer .text {
    justify-content: flex-start;
  }
  
  footer .icons {
    justify-content: flex-end;
  }
}

input, textarea {
  display: block;
  padding: 5px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  max-width: 100%;
  outline: none;
}

textarea {
  min-height: 51px;
  resize: vertical;
}

input:focus ~ .bar:before, input:focus ~ .bar:after,
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width: 50%;
}

#home {
  background-image: url("images/background.jpg");
}

#blockrunner {
  background-image: url("images/blockrunnerblurred.jpg");
}

#snake {
  background-image: url("images/snake.jpg");
}

#flappybird {
  background-image: url("images/flappybird.jpg");
}

#tomatotapper {
  background-image: url("images/tomatotapperresized.jpg");
}

#about-btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 19px;
  text-align: center;
  width: 110px;
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 100% !important;
  margin-top: 0px !important;
  letter-spacing: 0.8px;
  color: black;
  transition: all ease-in-out 0.7s;
  background-color: white;
}

#send-btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 19px;
  text-align: center;
  width: 80px;
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 100% !important;
  margin-top: 10px !important;
  letter-spacing: 0.8px;
  color: white;
  transition: all ease-in-out 0.7s;
  background-color: #ff3a3a;
  border: none;
}

#home-btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 19px;
  text-align: center;
  width: 150px;
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 100% !important;
  margin-top: 0px !important;
  letter-spacing: 0.8px;
  color: black;
  transition: all ease-in-out 0.7s;
  background-color: white;
}

#about-btn:hover {
  transition: all ease-in-out 0.7s;
  color: white;
  background-color: #ff3a3a;
}

#send-btn:hover {
  transition: all ease-in-out 0.7s;
  color: white;
  background-color: #ff0000;
  cursor: pointer;
}

#home-btn:hover {
  transition: all ease-in-out 0.7s;
  color: white;
  background-color: #ff3a3a;
}

#featured img {
  transition: 0.2s linear all;
}

#featured img:hover {
  transform: scale(1.2);
  transition: 0.2s linear all;
}

#featured .row {
  padding-bottom: 15px;
}

.fa-heart, .fa-circle {
  color: white;
}

.fa-github, .fa-envelope {
  color: black;
}

.cursor::after {
  content: '|';
  animation: blink 0.5s infinite;
  -webkit-animation: blink 0.5s infinite;
  -moz-animation: blink 0.5s infinite;
}

.banner {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  font-size: 5rem !important;
}

.thumbnail {
  width: 400px;
  max-width: 100%;
  background-color: lightgray !important;
  overflow: hidden;
}

a.thumbnail:hover {
  border: 1px solid red !important;
}

.jumboWrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
}

a.thumbnail:focus {
  border: 1px solid #990000 !important;
}

.input {
  position: relative;
  margin-bottom: 10px;
}

.bar {
  display: block;
  position: relative;
  width: 300px;
  max-width: 100%;
}

.bar:before, .bar:after {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  content: '';
  background: #ff0000;
  transition: 0.2s linear all; 
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

@keyframes blink {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}