body {
  font: normal 14px/16px Open Sans, helvetica, sans-serif;
  background-image:
	url('../images/background.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  color: #ff0000;
}

#body1 {
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 0px ;
  text-decoration:none;
  overflow: hidden;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  width: 60%;
  background: url("#");
  background-color: #ffffff;
   background-position: 0px 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  color: #000000;
  }

#nav1 {
  margin-left: auto ;
  margin-right: auto ;
  margin-top: -5px ;	
  text-decoration:none;
  overflow: hidden;
  width: 60%;
  height: 40px;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background: url("#") repeat-x 0 0 #;
  background-color: #ffffff;
   background-position: 0px 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  }

#nav1 span {
  padding: 0;
  font-weight: bold;
  text-decoration:none;
  font-size: 18px;
  line-height: 40px;
  text-transform: none;
  text-shadow: 0px 0px 0px #;
  color: #FF0000;  
  }

#nav1 span:hover{
  background-color: #FF0000;	
  background-image: url("#");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  text-decoration:none;
  
	}

#nav1 span a{
height: 45px;
line-height: 33px;
display: block;
padding:3px 10px;
color: #FF0000;
text-decoration:none;

}

#nav1 span:hover a,
#nav1 span a:hover{
color: #ffffff;
text-decoration:none;
}

/* Links on the left side of the navigation bar */
#nav1 span.left{
	float: left;
	border-right: 1px solid #d8d8d8;
	}

#nav1 span.left a{
	border-right: 0px solid #003566;
	}


/* Links on the right side of the navigation bar */
#nav1 span.right{
	float:right;
	border-left: 1px solid #d8d8d8;
	}

#nav1 span.right a{
	border-left: 0px solid #003566;
	font-size: 12px;
	}
	
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    font-size: 100%
}
	
table.wikitable {
  margin: 1em 0;
    margin-top: 1em;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
  background-color: #f9f9f9;
  border: 1px #aaa solid;
    border-top-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(170, 170, 170);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(170, 170, 170);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(170, 170, 170);
    border-left-style: solid;
    border-left-width: 1px;
  border-collapse: collapse;
  color: black;
}

#search_bar{
  margin: auto;
  width: 60%;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}