html, body {
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  color: #ff0000;
}

section a:hover, section a:active {
  color: #990000;
}

footer {
  background-color: #ff3a3a;
  padding-top: 28px;
  padding-bottom: 20px;
  margin-top: 20px;
}

footer p {
  font-weight: bold;
  padding-top: 7px;
}

footer .fa-heart, footer .fa-circle {
  color: white !important;
}

footer .fa-github, footer .fa-envelope {
  color: black !important;
}

footer .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  footer .text {
    justify-content: flex-start;
  }
  
  footer .icons {
    justify-content: flex-end;
  }
}

form input, form textarea {
  display: block;
  margin-bottom: 10px;
  width: 35%;
  min-width: 180px;
  border-top: 0;
  border-bottom: 1px solid black;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  outline: 0;
}

form input:focus, form textarea:focus {
  border-bottom: 2px solid red;
}

form textarea {
  min-height: 51px;
  max-width: 100%;
}

#home {
  background-image: url("images/background.jpg");
}

#blockrunner {
  background-image: url("images/blockrunnerblurred.jpg");
}

#snake {
  background-image: url("images/snake.jpg");
}

#flappybird {
  background-image: url("images/flappybird.jpg");
}

#tomatotapper {
  background-image: url("images/tomatotapperresized.jpg");
}

#about-btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 19px;
  text-align: center;
  width: 110px;
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 100% !important;
  margin-top: 0px !important;
  letter-spacing: 0.8px;
  color: black;
  transition: all ease-in-out 0.7s;
  background-color: white;
}

#send-btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 19px;
  text-align: center;
  width: 80px;
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 100% !important;
  margin-top: 10px !important;
  letter-spacing: 0.8px;
  color: white;
  transition: all ease-in-out 0.7s;
  background-color: #ff3a3a;
  border: 0;
}

#home-btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 19px;
  text-align: center;
  width: 150px;
  display: block;
  font-size: 11px;
  text-decoration: none;
  line-height: 100%!important;
  margin-top: 0px!important;
  letter-spacing: 0.8px;
  color: black;
  transition: all ease-in-out 0.7s;
  background-color: white;
}

#about-btn:hover {
  transition: all ease-in-out 0.7s;
  color: white;
  background-color: #ff3a3a;
}

#send-btn:hover {
  transition: all ease-in-out 0.7s;
  color: white;
  background-color: #ff0000;
  cursor: pointer;
}

#home-btn:hover {
  transition: all ease-in-out 0.7s;
  color: white;
  background-color: #ff3a3a;
}

#featured img {
  margin-left: 15px;
  border: 5px solid lightgray;
  padding: 0 !important;
  width: 400px;
}

#featured .col-md-5 {
  padding: 0 !important;
}

#featured .row {
  padding-bottom: 15px;
}

.typing::after {
  content: '|';
  -webkit-animation: blink 0.5s infinite;
          animation: blink 0.5s infinite;
  font-weight: 300;
}

.main {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.main h1 {
  font-size: 5rem!important;
}

.jumboWrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
}