/* ========== */
/* TYPOGRAPHY */
/* ========== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Manrope', sans-serif;
}

p {
  color: #666;
}

/* ======= */
/* GENERAL */
/* ======= */

::selection {
  background: #ff8f8f;
  color: #212529;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.transition {
  position: fixed;
  top: -50px;
  bottom: auto;
  width: 100%;
  height: calc(100vh + 100px);
  background: white;
  z-index: 20;
  transform: skewY(-3deg);
  transition: 0.5s;
}

.transition.out {
  top: auto;
  bottom: -50px;
  height: 0;
}

/* ===== */
/* LINKS */
/* ===== */

.link {
  color: #ff3a3a;
  transition: 0.3s;
  font-weight: bold;
}

.link:hover, .link:active, .link:focus {
  color: #ff3a3a;
  box-shadow: 0 -1px #ff3a3a inset;
  text-decoration: none;
}


/* ========== */
/* NAV BUTTON */
/* ========== */

.nav-toggle {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  width: 40px;
  height: 45px;
  z-index: 10;
  margin-right: 8px;
  cursor: pointer;
  background: none;
  border: none;
}

@media only screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle .icon {
  position: absolute;
  top: 20px;
  left: 0;
  right: 20px;
  margin: 0 auto;
  width: 32px;
  height: 2px;
  background: #212529;
  transition: 0.4s ease-out;
}

.nav-toggle .icon::before, .nav-toggle .icon::after {
  transition: 0.25s ease-out;
  position: absolute;
  height: 2px;
  background: #212529;
  content: '';
}

.nav-toggle .icon::before {
  transform: translateY(-10px);
  width: 32px;
  right: 0;
}

.nav-toggle .icon::after {
  transform: translateY(10px);
  right: 0;
  width: 32px;
}

@media only screen and (min-width: 768px) {
  .nav-toggle:hover .icon::before {
    transform: translateY(-15px);
  }

  .nav-toggle:hover .icon::after {
    transform: translateY(15px);
  }
}

.navbar-expanded .nav-toggle .icon {
  background: transparent;
  transition: 0.4s ease-out;
  transform: rotate(180deg);
}

.navbar-expanded .nav-toggle .icon::before {
  transform: rotate(45deg);
  background: #212529;
}

.navbar-expanded .nav-toggle .icon::after {
  transform: rotate(-45deg);
  background: #212529;
}

/* ======== */
/* NAV MENU */
/* ======== */

.nav-item a {
  color: #212529;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-item a:hover, .nav-item.active a {
  color: white;
}

.navbar-white .nav-item a {
  color: #212529;
}

.navbar-white .nav-item a:hover, .navbar-white .nav-item.active a {
  color: #ff3a3a;
}

.navbar {
  transition: all 0.5s;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-collapse {
  transition: all 0.5s;
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    height: 0;
    overflow: hidden;
  }

  .navbar-collapse ul {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-collapse .nav-link {
    font-size: 2rem;
  }

  .nav-item a:hover, .nav-item.active a {
    color: #ff3a3a;
  }
}

.navbar-expanded {
  background-color: white;
}

.navbar-expanded .navbar-collapse {
  height: 100vh;
  margin-top: -56px;
}

.navbar-white {
  background-color: white;
  box-shadow: 0 1px 10px #555;
}

/* ======= */
/* HEADERS */
/* ======= */

header {
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/banner-red.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 2px #eee;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  header {
    height: 50vh;
  }

  header h1 {
    font-size: 3.5rem;
  }
}

header::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  content: '';
  border-left: 100vw solid transparent;
  border-bottom: 5vw solid white;
}

/* =================== */
/* FULL PAGE JUMBOTRON */
/* =================== */

.full {
  background-image: url("../images/banner-red.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  display: flex;
  place-items: center;
}

.full .wrapper {
  display: flex;
  justify-content: center;
}

.full h1 {
  text-transform: uppercase;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .full h1 {
    font-size: 3.5rem;
  }
}

.jumbotron {
  border-radius: 0;
}

/* ========= */
/* HOME PAGE */
/* ========= */

.home h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: none;
}

.home h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.home .card .container {
  position: relative;
  top: -55px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  top: -75px;
}

@media only screen and (max-width: 465px) {
  .home .wrapper {
    margin-top: 100px;
  }
}

/* ======= */
/* BUTTONS */
/* ======= */

.btn-red {
  border: 3px solid #ff3a3a;
  color: #ff3a3a
}

.btn-red::after {
  background: #ff3a3a;
}

.btn-red:hover, .btn-red:focus {
  color: white;
}

.button {
  margin-top: 10px;
  padding: 10px 18px;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s;
  box-sizing: content-box;
  border-radius: 25px;
  background: none;
  cursor: pointer;
  position: relative;
  user-select: none;
  z-index: 1;
}

.button::after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  height: 120%;
  left: -10%;
  bottom: -1px;
  transform: skewX(15deg);
  z-index: -1;
}

.button:hover, .button:focus {
  text-decoration: none;
  outline: none;
}

.button:hover::after, .button:focus::after {
  width: 120%;
}

.send-btn {
  width: 75px;
}

.sending {
  width: 20px;
  padding-left: 0;
  padding-right: 0;
  border-color: #bbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #ff3a3a;
  animation: rotate 2s 0.25s linear infinite;
}

.sending::after {
  background: white;
}

/* ===== */
/* FORMS */
/* ===== */

form div {
  width: 100%;
}

input, textarea {
  display: block;
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  max-width: 100%;
  outline: none;
  color: #666;
}

textarea {
  min-height: 60px;
  max-height: 40vh;
  resize: vertical;
}

input:focus ~ .underline, textarea:focus ~ .underline {
  width: 100%;
  left: 0;
}

.underline {
  display: block;
  position: relative;
  margin-bottom: 10px;
  width: 0;
  max-width: 100%;
  height: 2px;
  margin-top: -2px;
  background: #ff3a3a;
  transition: 0.3s;
  left: 50%;
}

/* ====== */
/* FOOTER */
/* ====== */

footer {
  background: #ff3a3a;
  padding-top: 28px;
  padding-bottom: 20px;
  margin-top: 20px;
}

footer p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding-top: 7px;
  color: #212529;
}

footer .col-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  footer .text {
    justify-content: flex-start;
  }
  
  footer .icons {
    justify-content: flex-end;
  }
}

.fa-heart, .fa-circle {
  color: white;
}

.fa-envelope, .fa-github, .fa-linkedin {
  color: #212529;
}

.fa-stack  {
  overflow: hidden;
  clip-path: circle(1em);
}

.slide-up-effect span {
  transition: 0.3s;
}

.slide-up-effect span:last-child {
  transform: translateY(100%);
}

.slide-up-effect:hover span:first-child {
  transform: translateY(-100%);
}

.slide-up-effect:hover span:last-child {
  transform: translateY(0%);
}

/* ========== */
/* ANIMATIONS */
/* ========== */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

/* ============ */
/* CONTACT PAGE */
/* ============ */

.contact h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-shadow: none;
  margin-bottom: 1em;
}

.contact .card .container {
  margin: 3em auto;
}

.contact .fa, .contact .fab {
  margin-right: 2px;
}

.contact .fa:hover, .contact .fab:hover {
  color: #212529;
  text-decoration: none;
}

/* ===== */
/* CARDS */
/* ===== */

.card {
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: none;
  border-radius: 0.5em;
  color: #212529;
}

.card.project h2 {
  font-size: 1.5rem;
}

.card.project {
  padding-top: 1em;
  display: block;
  margin-top: 40px;
}

.card.project img {
  margin-bottom: 1em;
}

.card.project .fa-lg {
  color: #212529;
  text-decoration: none;
}

.card.project .fa-lg:hover {
  color: #ff3a3a;
  text-decoration: none;
}

@media only screen and (min-width: 1183px) {
  .card.project img {
    position: relative;
    top: -40px;
    right: -40px;
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.card.project:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-decoration: none;
  color: #212529;
  transform: translateY(-1px);
}

/* ============== */
/* ANIMATED ARROW */
/* ============== */

.animated-arrow {
  position: relative;
  display: inline-block;
  color: #ff3a3a;
  font-size: 1.25em;
  text-decoration: none !important;
  transition: all 0.2s;
  margin: 3em 0 0 0;
}

.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
  transform: translateX(40px);
}

.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}

.animated-arrow:hover {
  color: #ff3a3a;
}

.animated-arrow:hover > .arrow > .shaft {
  width: 64px;
}

.animated-arrow:hover > .main {
  transform: translateX(80px);
}

.arrow {
  position: absolute;
  top: 60%;
  left: 0;
  width: 64px;
  transition: all 0.2s;
}

.arrow > .shaft {
  position: relative;
  display: block;
  height: 1px;
  width: 30px;
  background-color: #ff3a3a;
  transition: all 0.2s;
}

.arrow > .shaft:before, .arrow > .shaft:after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 8px;
  height: 1px;
  background-color: #ff3a3a;
  transition: all 0.2s;
}

.arrow > .shaft:before {
  transform-origin: top left;
  transform: rotate(40deg);
}

.arrow > .shaft:after {
  transform-origin: bottom left;
  transform: rotate(-40deg);
}