/* ========== */
/* TYPOGRAPHY */
/* ========== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Manrope', sans-serif;
}

p {
  color: #666;
}

/* ======= */
/* GENERAL */
/* ======= */

::selection {
  background: #ff8f8f;
  color: #212529;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url("../images/banner-red-large-repeating.svg");
  background-size: 100%;
  background-repeat: repeat-y;
  background-color: #ef4a44;
 }

/* ===== */
/* LINKS */
/* ===== */

.link {
  color: #ff3a3a;
  transition: 0.3s;
  font-weight: bold;
}

.link:hover, .link:active, .link:focus {
  color: #ff3a3a;
  box-shadow: 0 -1px #ff3a3a inset;
  text-decoration: none;
}


/* ========== */
/* NAV BUTTON */
/* ========== */

.nav-toggle {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  width: 40px;
  height: 45px;
  z-index: 10;
  margin-right: 8px;
  cursor: pointer;
  background: none;
  border: none;
}

@media only screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle .icon {
  position: absolute;
  top: 20px;
  left: 0;
  right: 20px;
  margin: 0 auto;
  width: 32px;
  height: 2px;
  background: #212529;
  transition: 0.4s ease-out;
}

.nav-toggle .icon::before, .nav-toggle .icon::after {
  transition: 0.25s ease-out;
  position: absolute;
  height: 2px;
  background: #212529;
  content: '';
}

.nav-toggle .icon::before {
  transform: translateY(-10px);
  width: 32px;
  right: 0;
}

.nav-toggle .icon::after {
  transform: translateY(10px);
  right: 0;
  width: 32px;
}

@media only screen and (min-width: 768px) {
  .nav-toggle:hover .icon::before {
    transform: translateY(-15px);
  }

  .nav-toggle:hover .icon::after {
    transform: translateY(15px);
  }
}

.navbar-expanded .nav-toggle .icon {
  background: transparent;
  transition: 0.4s ease-out;
  transform: rotate(180deg);
}

.navbar-expanded .nav-toggle .icon::before {
  transform: rotate(45deg);
  background: #212529;
}

.navbar-expanded .nav-toggle .icon::after {
  transform: rotate(-45deg);
  background: #212529;
}

/* ======== */
/* NAV MENU */
/* ======== */

.nav-item a {
  color: #212529;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-item a:hover, .nav-item.theme-toggle span:hover {
  color: white;
}

.navbar-opaque .nav-item a:hover, .navbar-opaque .nav-item.theme-toggle span:hover {
  color: #ff3a3a;
}

.navbar {
  transition: all 0.5s;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-collapse {
  transition: all 0.5s;
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    height: 0;
    overflow: hidden;
  }

  .navbar-collapse ul {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-collapse .nav-link {
    font-size: 2rem;
  }

  .nav-item a:hover, .nav-item.theme-toggle span:hover {
    color: #ff3a3a;
  }

  .nav-item.theme-toggle span {
    line-height: 2.5em;
  }
}

.navbar-expanded {
  background-color: white;
}

.navbar-expanded .navbar-collapse {
  height: 100vh;
  margin-top: -56px;
}

.navbar-opaque {
  background-color: white;
  box-shadow: 0 1px 10px #555;
}

.nav-item.theme-toggle {
  display: flex;
  place-items: center;
  cursor: pointer;
  padding: 0 0.5em;
}

.nav-item.theme-toggle span {
  transition: all 0.5s;
}

/* ======= */
/* HEADERS */
/* ======= */

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  padding: 1em;
  margin-top: 1em;
}

header h1 {
  letter-spacing: 3px;
}

@media only screen and (min-width: 768px) {
  header h1 {
    font-size: 3.5rem;
  }

  header {
    padding: 5em;
    margin-top: 0em;
  }
}


/* ============= */
/* FULL PAGE DIV */
/* ============= */

.full {
  min-height: 100vh;
  display: flex;
  place-items: center;
}

.full .wrapper {
  display: flex;
  justify-content: center;
}

/* ========= */
/* HOME PAGE */
/* ========= */

.home h1, .home h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.home h1 {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: none;
}

.home h2 {
  font-weight: 500;
  letter-spacing: 1px;
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.home .card .container {
  position: relative;
  top: -55px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  top: -75px;
}

@media only screen and (max-width: 465px) {
  .home .wrapper {
    margin-top: 100px;
  }
}

.home .fa-chevron-down {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  animation: 1.5s linear 0s infinite alternate bounce;
  transition: all 0.5s ease-in-out;
  color: white;
  cursor: pointer;
}

@keyframes bounce {
  from {
    transform: translateX(-50%) translateY(-0.5em);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}

/* ====== */
/* FOOTER */
/* ====== */

footer {
  padding-top: 28px;
  padding-bottom: 20px;
}

footer p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding-top: 7px;
  color: #212529;
}

footer .col-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  footer .text {
    justify-content: flex-start;
  }
  
  footer .icons {
    justify-content: flex-end;
  }
}

.fa-heart {
  color: white;
}

.fa-circle {
  color: white;
}

.fa-envelope, .fa-github, .fa-linkedin {
  color: #212529;
}

.fa-stack  {
  overflow: hidden;
  clip-path: circle(1em);
}

.slide-up-effect span {
  transition: 0.3s;
}

.slide-up-effect span:last-child {
  transform: translateY(100%);
}

.slide-up-effect:hover span:first-child {
  transform: translateY(-100%);
}

.slide-up-effect:hover span:last-child {
  transform: translateY(0%);
}

/* ===== */
/* CARDS */
/* ===== */

.card {
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: none;
  border-radius: 0.5em;
  color: #212529;
}

.card.project {
  margin-bottom: 4em;
}

.card.project h2 {
  font-size: 1.5rem;
}

.card.project {
  padding-top: 1em;
  display: block;
  margin-top: 40px;
}

.card.project img {
  margin-bottom: 1em;
}

.card.project .fa-lg {
  color: #212529;
  text-decoration: none;
}

.card.project .fa-lg:hover {
  color: #ff3a3a;
  text-decoration: none;
}

@media only screen and (min-width: 1183px) {
  .card.project img {
    position: relative;
    top: -40px;
    right: -40px;
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.card.project:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-decoration: none;
  color: #212529;
  transform: translateY(-1px);
}